[Unit]
Description=Proxmox Glances Monitor
After=[getty@tty1.service](mailto:getty@tty1.service) network-online.target
Wants=network-online.target

[Service]
User=monitor
Environment=TERM=xterm-256color
ExecStart=/usr/bin/glances -c 192.168.0.50
Restart=always
RestartSec=5
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty
StandardError=journal

[Install]
WantedBy=multi-user.target
